.navbar {
    display: flex;
    flex-direction: row;
    background-color: #111421;
    width: 100vw;
    height: 60px;
    color: #c8c3e0;
    align-items: center;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 32px;
        width: 100%;

        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
    
            a {
                text-decoration: none;
                color: #c8c3e0;
                padding-right: 8px;
                font-weight: 600;
            }

            a:hover {
                color: #fff;
            }
    
            a:last-of-type {
                padding-right: 0px;
            }
        }
    }
}