.postCard {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 8px 16px;
    margin-bottom: 16px;
    width: 200px;

    h2 {
        color: #666666;
        font-size: 24px;
    }

    h3 {
        color: #999999;
        font-size: 16px;
        font-weight: 300;
        margin-top: -24px;
    }
}